body{
	margin:0;
	padding: 0;
}
/**************** my header css block ***************/
header {
	background-color: #ffffff;
}
.header-banner {
	/*background-image: url('../images/fly-with-us.jpg');*/
	height: 450px;
}
.navbar {
	margin-bottom: 0!important;
}
.header-banner h3 {
	font-size: 35px;
	color: #fff;
	text-align: center;
}
.navbar-inverse {
	background-color: #ffffff;
	border: 0!important;
}
.navbar-inverse .navbar-nav>.active>a {
	    background-color: #efc403!important;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #efc403!important;
}
/***************** service area start ********************/
.content-area {
	margin-top: 60px;
}
.service-panel {
	text-align: center;
	background-color: #e9e9e9;
	padding: 20px;
}
.about-bg {
	background-image: url('../images/home-bg.jpg');
	height: 420px;
	color: #fff;
}
.about-bg h3 {
	font-size: 50px;
	color:#F1C40F;
}

.text-area {
	border: 1px solid #e8e8e8;
	padding: 20px;
	margin-bottom: 30px;
}
.text-area:hover  {
	background-color: #e9e9e9;
}
/******************* footer area start v************/

.footer-bg {
	background-image: url('../images/bg-footer.jpg');
	padding: 50px 0 50px 0;
}
.footer-bg h3 {
	color: #f1c40f;
}
.footer-bg p {
	color: #ffffff;
}

/********************** service page **************/
.service-page {
	background-color: #f2f2f2;
}
.service-box {
	text-align: center;
	padding: 20px;
	border: 1px solid #e8e8e8;
	margin-bottom: 20px;
	background-color: #fff;
}
.service-box .fa {
	font-size: 35px;
	color: #efc403;
}
